@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&family=League+Gothic&family=Noto+Sans+KR&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
}

body {
  /* background-image: url("./img/Bg.jpg");
  background-size: 40.1% ; */
  background-color: rgb(255, 255, 255);
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root > div {
  background-color: rgb(255, 255, 255);
  text-align: center;
  color: rgb(0, 0, 0);
  width: 100vw;
  height: 100vh;
}

/* @media (min-height: 812px) {
  #root > div {
    height: 812vh;
  }
} */